.plan-selection-container {
    text-align: center;
    background-color: var(--main-text);
    height: 100vh;
    margin-left:1px;
    width: 100vw;
  }
  
  .plan-selection-header {
    margin-bottom: 20px;
  }
  
  .step-text {
    font-size: 14px;
    margin-top: 0;
  }
  
  .plan-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .plan-list {
    list-style-type: none;
    padding: 0;
  }
  
  .plan-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--main-text);
  }
  
  .checkmark {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .plan-description {
    font-size: 16px;
  }
  