.edit_profile {
  color: white;
  width: 50vw;
  min-width: 600px;
  height: 95vh;
  margin: auto;
  margin-top: 2vh;
}

.profile_pic {
  width: 8vw;
  height: 8vw;
  min-width: 96px;
  min-height: 96px;
  border-radius: 10px;
  float: left;
}

.text {
  color: #ffc107;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.line2 .line {
  width: 100%;
  background-color: white;
  opacity: 0.5;
  margin-bottom: 5vh;
}
.line2 {
  position: absolute;
  opacity: 0.3;
  width: 50vw;
  margin-left: -23%;
  min-width: 600px;
}
.img {
  cursor: pointer;
  position: absolute;
  margin-top: 16px;
  width: 8vw;
  min-width: 96px;
  display: inline;
}
.profile_info {
  position: absolute;
  right: auto;
  /* background-color: blue; */
  height: 70vh;
  margin-left: calc(8vw + 20px);
  display: inline;
  width: calc(40.8vw - 3px);
  min-width: 485px;
}
@media (max-width: 1200px) {
  .profile_info {
    margin-left: calc(96px + 20px);
    width: 40.2vw;
  }
  .line2 {
    margin-left: -23.9%;
  }
}
.save {
  margin-left: -23%;
  background: linear-gradient(180deg, #ffc107 0%, #ffee46 100%);
  color: black;
}
.btn {
  position: relative;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: Aktiv Grotesk Corp;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 168.523%;
  margin-right: 3.7%;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.cencel {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
.delete {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
.delete:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 0.4);
}
.cencel:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.save:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.name {
  border: 2px solid rgba(0, 0, 0, 0);
  background: rgba(217, 217, 217, 0.5);
  margin-top: 16px;
  color: white;
  width: calc(100% - 7px - 12px);
  height: 4vh;
  font-size: 20px;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 168.523%;
}
.name::placeholder {
  color: white;
  opacity: 0.5;
}
.name2 {
  border: 2px solid rgba(0, 0, 0, 0);
  background: rgba(217, 217, 217, 0.5);
  margin-top: 16px;
  color: white;
  height: 4vh;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 168.523%;
}




.selectPicture{
    color: white;
}