.place-to-write {
  height: 62px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 0;
  padding-left: 16px;
  width: 481px;
  color: #7d7d7d;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.place-for-button {
  height: 64px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: 0;
  width: 214px;
  position: absolute;
  right: 0;
  background-color: var(--logo-text);
  color: var(--main-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.email-adress {
  width: 714px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--main-text);
  z-index: 2;
  position: absolute;
  top: 495px;
  margin-left: calc(50% - 357px);
}

.top-text-big {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.5px;
}
.top-text-mid {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
.top-text-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-text-wrapper {
  width: 584.5px;
  height: 236px;
  margin-left: calc(50% - 292.25px);
  text-align: center;
  flex-shrink: 0;
  color: var(--main-text);
  font-family: Aktiv Grotesk Corp;
  position: absolute;
  top: 208px;
  z-index: 2;
}

.dd-wrapper {
  z-index: 2;
  position: absolute;
  right: 159px;
  top: 30px;
  width: 120px;
  height: 38px;
}

.dd-header {
  font-family: Inter;
  z-index: 2;
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  font-size: 14px;
  background: var(--background);
  border-width: 2;
  border-color: var(--main-text);
}
.dd-wrapper:hover .dd-list {
  opacity: 1;
}

.dd-header-title {
  width: 46px;
  height: 18px;
  flex-shrink: 0;
  color: var(--main-text);
  pointer-events: none;
  cursor: not-allowed;
}

.dd-list {
  opacity: 0;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  list-style-type: none;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: -3px;
}

.dd-list-item {
  width: calc(100% - 4px);
  padding: 2px;
  margin: 0;
}

.dd-list-item:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}

.main-page-top {
  width: 100%;
  height: 700px;
  background: url("./../picsAndFonts/films.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.sign-in-button {
  z-index: 2;
  position: absolute;
  right: 42px;
  padding: 0;
  top: 30px;
  width: 90px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--logo-text);
  border: 0;
}

.sign-in-text {
  text-decoration: none;
  width: 46px;
  height: 18px;
  padding: 10px 23px 11px 22px;
  flex-shrink: 0;
  color: var(--main-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url("./../picsAndFonts/HelveticaNeueCyr-Bold.otf");
}
@font-face {
  font-family: Aktiv Grotesk Corp;
  src: url("./../picsAndFonts/aktivgroteskcorp_medium.ttf");
}
@font-face {
  font-family: Aktiv Grotesk Corp1;
  src: url("./../picsAndFonts/AktivGroteskCorp-Light.ttf");
}
.logo {
  color: var(--logo-text);
  font-family: HelveticaNeueCyr;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 168.523%;
  position: absolute;
  left: 77px;
  top: 18px;
  z-index: 2;
}
