:root {
  --logo-text: #FFC107;
  --main-text: white;
  --background: black;
  --questions-color: #303030;
  --my-line: #323232;
}

body {
  background: var(--background);
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: 0;
  width: calc(100% + 1px);
  /* min-width: 1135px;
  width: auto !important; */
}
h5,
a{
  font-family: Aktiv Grotesk Corp;
}
